@font-face {
    font-family: BrandonText-Bold;
    src: url(https://d3ss0gp3e5d7m3.cloudfront.net/assets/fonts/BrandonTextWeb-Bold._PwZM.woff2) format("woff2"), url(https://d3ss0gp3e5d7m3.cloudfront.net/assets/fonts/BrandonTextWeb-Bold.7ZmDR.woff) format("woff")
}

@font-face {
    font-family: BrandonText-Italic;
    src: url(https://d3ss0gp3e5d7m3.cloudfront.net/assets/fonts/BrandonText-Italic.2IP4J.woff) format("woff")
}

@font-face {
    font-family: BrandonText-Regular;
    src: url(https://d3ss0gp3e5d7m3.cloudfront.net/assets/fonts/BrandonText-Regular.wpoAR.woff) format("woff")
}

@font-face {
    font-family: BrandonText-Medium;
    src: url(https://d3ss0gp3e5d7m3.cloudfront.net/assets/fonts/BrandonTextWeb-Medium.2jqB8.woff2) format("woff2"), url(https://d3ss0gp3e5d7m3.cloudfront.net/assets/fonts/BrandonTextWeb-Medium.kVbI4.woff) format("woff")
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.hide {
    display: block;
    left: -1000rem;
    position: fixed;
    top: -1000rem;
    width: 0px;
}

body {
    background: #fff;
    color: #2F3237;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-family: "BrandonText-Regular", "Brandon Text", sans-serif;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    line-height: 1rem;
}

main {
    background: #F2F3F4;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin: 10rem auto 3rem;
    max-width: 1280px;
    min-height: 300vh;
    text-align: center;
    width: calc(100% - 4rem);
    position: relative;
    top: 0;
    opacity: 1;
    transition: all .2s ease;
    -webkit-animation: fadein .2s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein .2s;
    /* Firefox < 16 */
    -ms-animation: fadein .2s;
    /* Internet Explorer */
    -o-animation: fadein .2s;
    /* Opera < 12.1 */
    animation: fadein .2s;
}

main.disappear {
    top: -2rem;
    opacity: 0;
}

@keyframes fadein {
    from {
        opacity: 0;
        top: -2rem;
    }

    to {
        opacity: 1;
        top: 0;
    }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from {
        opacity: 0;
        top: -2rem;
    }

    to {
        opacity: 1;
        top: 0;
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from {
        opacity: 0;
        top: -2rem;
    }

    to {
        opacity: 1;
        top: 0;
    }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from {
        opacity: 0;
        top: -2rem;
    }

    to {
        opacity: 1;
        top: 0;
    }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from {
        opacity: 0;
        top: -2rem;
    }

    to {
        opacity: 1;
        top: 0;
    }
}

*:focus {
    background-color: rgba(205, 205, 206, 0.25);
    box-shadow: 0px 0px 0px 4px rgba(205, 205, 206, 0.25);
    outline: 1px dotted #52B4E5;
    outline-offset: 1px;
}

a {
    transition: color 0.2s ease;
}

.nav--primary *:focus,
.nav--secondary *:focus {
    background-color: transparent;
    box-shadow: none;
    outline-offset: 0px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

/*** NAV ***/
header {
    position: fixed;
    top: 0;
    transform: translateY(0);
    transition: transform 500ms ease;
    width: 100%;
    z-index: 500;
}

.header--up {
    transform: translateY(-100%);
}

.logo a {
    background: url(img/logos/stitchfix-logo-mark--outline--color.svg);
    display: block;
    height: 2rem;
    opacity: 1;
    width: 2rem;
    transition: opacity .2s cubic-bezier(0.755, 0.05, 0.855, 0.06);
}

.logo a:hover {
    opacity: .75;
}

/*** PRIMARY NAV ***/
.nav--primary__wrapper {
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
}

.nav--primary {
    background: #2F3237;
    max-height: 3rem;
    padding: 0;
    position: relative;
    text-align: center;
}

.logo {
    left: 16px;
    position: absolute;
    top: 8px;
}

.nav--primary__menu {
    display: inline-block;
    overflow: hidden;
    position: relative;
}

.nav--primary__menu li {
    display: inline-block;
    padding: 0 .25rem;
}

.nav--primary__menu li a {
    color: #DEE0E1;
    display: inline-block;
    font-size: .875rem;
    letter-spacing: 0.015em;
    overflow: hidden;
    padding: 1rem 0 .875rem;
    position: relative;
    text-transform: uppercase;
}

.nav--primary__menu li a:not(.current):hover {
    color: #fff;
}

.nav--primary__menu li a.current {
    color: #00BDB4;
    font-family: 'BrandonText-Medium';
    letter-spacing: .02em;
}

#top-level-dot {
    background: #00BDB4;
    border-radius: .25rem;
    bottom: -.25rem;
    display: block;
    height: .5rem;
    position: absolute;
    transform: translateX(-50%);
    transition: left .3s ease;
    width: .5rem;

}

a.help-link {
    display: none;
}

/* PHASE 1
.nav--primary__menu li a:after {
    background: #CDCDCE;
    border-radius: 4px;
    bottom: -8px;
    content: '';
    display: block;
    left: 50%;
    height: 8px;
    position: absolute;
    width: 8px;
    transform: translateX(-50%);
    transition: bottom 0.2s cubic-bezier(0.755, 0.05, 0.855, 0.06);
}

.nav--primary__menu li a:hover:after {
    bottom: -4px;
}

.nav--primary__menu li a.current:after {
    background: #00BDB4;
    bottom: -4px;
}
*/
/*** ACCOUNT MENU ***/
.account-menu {
    background: transparent;
    border-radius: 2px;
    height: 2.5rem;
    overflow: hidden;
    position: absolute;
    right: 4px;
    text-align: left;
    top: 4px;
    width: 4rem;
    z-index: 999;
}

.account-menu a.account-menu__toggle {
    color: #fff;
    display: block;
    font-family: 'BrandonText-Medium';
    line-height: 1.5rem;
    padding: .5rem .75rem .75rem;
}

.account-menu a.account-menu__toggle:after {
    content: url(img/icon__ellipse.svg);
    display: block;
    position: absolute;
    right: .75rem;
    top: .625rem;
}

.account-menu .account-menu__toggle__name {
    display: none;
    opacity: 0;
    transition: all .2s ease;
    transition-delay: .5s;
}

.account-menu__toggle__initial {
    background: #00BDB4;
    border-radius: .75rem;
    color: #fff;
    display: inline-block;
    font-family: "BrandonText-Bold";
    height: 1.5rem;
    margin-right: .5rem;
    position: relative;
    width: 1.5rem;
    text-align: center;
    transition: box-shadow .2s ease;
}

.account-menu__toggle__initial:after {
    background: #F05D61;
    border-radius: .25rem;
    box-shadow: 0px 0px 0px 2px rgba(47, 50, 55, 1);
    content: '';
    display: block;
    height: .25rem;
    position: absolute;
    right: -.125rem;
    top: .03125rem;
    width: .25rem;
    transition: all .2s ease;
}

a.account-menu__toggle:hover .account-menu__toggle__initial {
    -webkit-box-shadow: 0px 0px 0px 4px rgba(205, 205, 206, 0.25);
    -moz-box-shadow: 0px 0px 0px 4px rgba(205, 205, 206, 0.25);
    box-shadow: 0px 0px 0px 4px rgba(205, 205, 206, 0.25);
}

.account-menu a {
    color: #2F3237;
    transition: background.2s ease;

}

.account-menu ul {
    display: block;
    min-width: 15rem;
    opacity: 0;
    padding: 1rem .25rem;
    transition: all .2s ease;
    transition-delay: .2s;
    transform: translateY(-1rem);
}

.account-menu ul + ul {
    border-top: 1px solid #DEE0E1;
}

.account-menu h2 {
    color: #737679;
    font-size: .875rem;
    letter-spacing: .02em;
    margin-bottom: .5rem;
    padding: 0 .25rem;
    text-transform: uppercase;
}

.account-menu ul a {
    background: transparent;
    display: block;
    padding: .75rem .5rem;
}

.account-menu ul a:hover {
    background: #F2F3F4;
}

.profiles__child,
.profiles__add-child {
    line-height: 1.5rem;
    position: relative;
}

.profiles__child .account-menu__toggle__initial {
    background: #F05D61;
}

.profiles__child .account-menu__toggle__initial:after {
    box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 1);
}

.profiles__child:hover .account-menu__toggle__initial:after {
    box-shadow: 0px 0px 0px 2px rgba(242, 243, 244, 1);
}

.profiles__add-child:before {
    background: url(img/icon__add.svg);
    content: '';
    display: inline-block;
    font-family: "BrandonText-Bold";
    height: 1.5rem;
    margin-right: .5rem;
    position: relative;
    top: -.125rem;
    width: 1.5rem;
    vertical-align: middle;
}

.refer-bug {
    background: #f2f3f4;
    border-radius: 1rem;
    padding: .125rem .5rem;
    transition: all .2s ease;
}

.account-menu ul a:hover .refer-bug {
    background: #DEE0E1;
}

/*** Open State ***/
.account-menu.open {
    background: #fff;
    border: 1px solid#F2F3F4;
    box-shadow: 0px 0px 16px rgba(47, 50, 55, 0.05), 0px 2px 8px rgba(47, 50, 55, 0.075);
    height: 22.5rem;
    width: 15rem;
}

.account-menu *:focus {
    background-color: none;
}

.account-menu.open a.account-menu__toggle {
    color: #606266;
}

.account-menu.open a.account-menu__toggle .account-menu__toggle__initial:after {
    height: 0;
    width: 0;
    box-shadow: none;
}

.account-menu.open .account-menu__toggle__name {
    display: inline-block;
    opacity: 1;
    overflow: visible;
    width: 0;
}

.account-menu.open ul {
    opacity: 1;
    transform: translateY(0);
}

/*** SECONDARY NAV ***/
.nav--secondary {
    background: #fff;
    border: 1px solid #F2F3F4;
    box-shadow: 0px 0px 4px rgba(47, 50, 55, 0.1);
    overflow: hidden;
    position: relative;
    text-align: center;
}

.sub-nav__wrapper {
    display: inline-block;
    position: relative;
}

.nav--secondary__menu {
    display: inline-block;
    position: relative;
}

.nav--secondary__menu li {
    display: inline-block;
    padding: 0 .25rem;
}

.nav--secondary__menu li a {
    color: #606266;
    display: inline-block;
    padding: 1rem 0;
    position: relative;
    transition: color .2s ease;
}

/*PHASE 1
.nav--secondary__menu li a:not(.current):after {
    background: #F2F3F4;
    bottom: -.5rem;
    content: '';
    display: block;
    height: .25rem;
    position: absolute;
    transition: all .2s ease;
    width: 100%;
}
*/
.nav--secondary__menu li a.current {
    /*  border-bottom: 4px solid #00BDB4; PHASE 1*/
    color: #2F3237;
    font-family: 'BrandonText-Medium';
}

.nav--secondary__menu a:hover {
    color: #07838B;
}

.nav--secondary .refer-link {
    color: #2F3237;
    display: none;
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
}

#page-underscore {
    background: #00BDB4;
    bottom: 0;
    display: block;
    height: 4px;
    position: absolute;
    transition: all .3s ease-in;
}

/*** Secondary Nav Transitions ***/
.fixes-active #sub-nav__shop,
.fixes-active #sub-nav__your-style,
.shop-active #sub-nav__fixes,
.shop-active #sub-nav__your-style,
.your-style-active #sub-nav__fixes,
.your-style-active #sub-nav__shop {
    display: none;
}

/*PHASE 1

.nav--secondary__menu li a:not(.current):hover:after {
    bottom: -.25rem;
}*/

/*** FOOTER ***/
footer {
    margin-top: 35.rem;
    text-align: center;
    width: 100%;
}

.pre-footer-menu {
    padding: 0 1rem 1rem;
    text-align: center;
}

.pre-footer-menu li {
    display: inline-block;
    margin: 0 .125rem;
}

.pre-footer-menu li a {
    border-bottom: 1px solid transparent;
    color: #077AB8;
    transition: border .2s ease;
}

.pre-footer-menu li a:hover {
    border-bottom: 1px solid #077AB8;
}

.pre-footer-menu li a.refer-link {
    border-bottom: none;
}

.pre-footer-menu li a.refer-link:hover .refer-bug {
    background: #077AB8;
    color: #fff;
}

.footer-toggle {
    background: #fff;
    color: #737679;
    display: inline-block;
    font-family: "BrandonText-Bold";
    font-size: .875rem;
    letter-spacing: .02em;
    line-height: 1.5rem;
    padding: .5rem 1rem;
    position: relative;
    top: 1.375rem;
    text-transform: uppercase;
    width: auto;
}

.footer-toggle:after {
    background: url(img/icon__circle-plus.svg);
    background-size: contain;
    background-position: center;
    content: '';
    display: inline-block;
    height: 1.5rem;
    position: relative;
    transform: rotate(0);
    top: -.125rem;
    width: 1.5rem;
    vertical-align: middle;
    transition: transform .15s ease;
}

.footer-toggle.close:after {
    transform: rotate(45deg);
}

.footer__main {
    border-top: 1px solid #DEE0E1;
    padding: 2.25rem 1rem 1rem;
}

.footer__main__wrapper {
    display: none;
    margin: 0 auto;
    opacity: 0;
    max-width: 35rem;
    transition: opacity .5s ease;
    transition-delay: .15s;
}

.footer__main__wrapper.open {
    opacity: 1;
}

.footer__logo {
    display: none;
}

footer h2 {
    font-size: .875rem;
    letter-spacing: .02em;
    text-transform: uppercase;
}

.footer__menu {
    display: block;
    float: left;
    padding: 0;
    width: calc(50% - 1rem);
    text-align: left;
}

.footer__menu.hide-on-mobile {
    display: none;
}

.footer__menu + .footer__menu {
    margin-left: 1rem;
}

.footer__menu li {
    margin-top: .5rem;
}

.footer__menu a {
    border-bottom: 1px solid transparent;
    color: #2F3237;
    display: inline-block;
    line-height: 1.25rem;
    padding: .25rem 0;
    transition: border .2s ease;
}

.footer__menu a.hide-on-mobile {
    display: none;
}

.footer__menu a:hover {
    border-bottom: 1px solid;
}

/*** footer style guide tooltip ***/
.style-guide {
    position: relative;
}

.tooltip {
    background: #25282D;
    opacity: 0;
    padding: .25rem;
    position: absolute;
    top: -100%;
    transition: all .2s ease;
    z-index: -1;
}

.tooltip.active,
.style-guide:hover .tooltip {
    opacity: 1;
    top: calc(-100% - .75rem);
    z-index: 1;
}

.tooltip:after {
    border-left: .5rem solid transparent;
    border-right: .5rem solid transparent;
    border-top: .5rem solid #25282D;
    bottom: -.5rem;
    content: '';
    display: block;
    left: 1rem;
    height: 0;
    position: absolute;
    width: 0;
}

.tooltip a {
    background: transparent;
    border-bottom: none;
    color: #F2F3F4;
    display: inline-block;
    padding: .25rem .5rem;
    transition: background .2s ease;
}

.tooltip a:hover {
    background: #606266;
    border-bottom: none;
}

.tooltip a + a {
    border-left: 1px solid #909295;
}

.footer__icons {
    border-bottom: 1px solid #DEE0E1;
    border-top: 1px solid #DEE0E1;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1.5rem 0;
    padding: .5rem 0 1rem;
    text-align: left;
    width: 100%;
}

.footer__menu--social {
    border-bottom: 1px solid #DEE0E1;
    margin-bottom: 1rem;
    padding-bottom: .5rem;
    text-align: center;
    width: 100%;
}

.footer__menu--social li {
    display: inline-block;
}

.footer__menu--social li a {
    background-color: transparent;
    border-radius: 1.5rem;
    display: block;
    height: 3rem;
    position: relative;
    top: .25rem;
    width: 3rem;
    transition: background-color .2s ease;
}

.footer__menu--social li a img {
    display: block;
    left: 50%;
    max-height: 2rem;
    max-width: 2rem;
    opacity: 1;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.footer__menu--social li a:hover {
    background-color: #F2F3F4;
}

.footer__menu--social li a:hover img {
    opacity: .85;
}

.app-icon {
    display: inline-block;
    width: 50%;
    text-align: center;
}

.app-icon img {
    height: auto;
    max-width: 100%;
    opacity: 1;
}

.footer__menu--small {
    color: #737679;
    font-size: .875rem;
    line-height: 1rem;
    padding-bottom: .5rem;
    text-align: center;
}

.footer__menu--small li {
    display: inline-block;
    margin-top: .5rem;
}

.footer__menu--small li + li {
    border-left: 1px solid #CDCDCE;
}

.footer__menu--small a {
    color: #737679;
    padding: .25rem .25rem .25rem .375rem;
}

.footer__menu--small a:hover {
    color: #2F3237;
    text-decoration: underline;
}

.footer__menu--small p {
    margin-top: 1rem;
}

@media screen and (min-width:26.25rem) {
    .footer__icons {
        padding: 1rem 0;
    }
    .footer__menu--social {
        border-bottom: none;
        margin-bottom: 0;
        padding-bottom: 0;
        text-align: left;
        width: 50%;
    }

    .app-icon {
        text-align: left;
    }
}

@media screen and (min-width:56.25rem) {
    .nav--primary {
        max-height: 3.5rem;
        padding: 0 1rem;
    }

    .logo a {
        background: url(img/sf-logo--full.svg);
        background-position: center left;
        background-repeat: no-repeat;
        background-size: contain;
        display: block;
        height: 2.25rem;
        margin-top: .125rem;
        width: 9.38rem;
    }

    /*** Account menu ***/
    .account-menu .account-menu__toggle__name {
        display: inline-block;
        opacity: 1;
        transition-delay: 0s;
    }

    .nav--primary__menu li a {
        font-size: 1rem;
        padding: 1.25rem 0 1.125rem;
    }

    .account-menu {
        font-size: 1rem;
        height: 2.5rem;
        width: 10rem;
    }

    .account-menu.open {
        height: 23.5rem;
    }

    .account-menu a.account-menu__toggle {
        padding: .75rem 1rem .875rem;
    }

    .account-menu a.account-menu__toggle:after {
        right: 1rem;
        top: .875rem;
    }

    .account-menu ul {
        padding: 1.25rem .5rem;
    }

    /*** Sub-nav ***/
    .nav--secondary {
        font-size: 1.125rem;
        line-height: 1.25rem;
        height: 3.5rem;
    }

    .nav--secondary__menu li a {
        padding: 1.0625rem 0;
    }

    /*** Footer ***/
    .pre-footer-menu {
        margin: 0 auto;
        max-width: calc(1280px + 4rem);
        padding: 0 2rem 2rem;
        text-align: right;
    }

    .footer-toggle {
        display: none;
    }

    .footer__main {
        padding: 2.25rem 2rem 1rem;
    }

    .footer__main__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 1280px;
        opacity: 1;
        top 0;
    }

    .footer__logo {
        background: url(img/stitchfix-logo-type.svg);
        background-repeat: no-repeat;
        background-size: contain;
        display: block;
        height: 1rem;
    }

    .footer__logo,
    .footer__menu,
    .footer__icons {
        float: left;
        width: calc((100% - 4.5rem) / 4);
    }

    .footer__icons {
        align-content: space-between;
        border-bottom: none;
        border-top: none;
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        margin-right: 0;
        margin: -.5rem 0 0;
        padding: 0;
        text-align: left;
    }
    .footer__menu--social {
        width: 100%;
        text-align: right;
    }
    .footer__menu--social li a {
        height: 2.5rem;
        width: 2.5rem;
    }

    .app-icon {
        display: inline-block;
        padding-right: .5rem;
        width: auto;
    }

    .app-icon img {
        height: 2.5rem;
        width: auto;
    }

    .footer__menu--small {
        border-top: 1px solid #DEE0E1;
        display: inline-block;
        margin-top: 2rem;
        padding-top: 1.5rem;
        width: 100%;
    }
}

@media screen and (min-width:72.5rem) {
    .nav--secondary__wrapper {
        margin: 0 auto;
        max-width: calc(1440px + 2rem);
        position: relative;
    }

    .nav--secondary .refer-link {
        display: block;
        right: 2rem;
    }

    .account-menu .refer-link {
        display: none;
    }

    .account-menu.open {
        height: 21.5rem;
    }

    a.help-link {
        color: #DEE0E1;
        display: block;
        font-size: 1rem;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10.5rem;
    }

    .nav--secondary .refer-link:hover .refer-bug {
        background: #DEE0E1;
    }

    .pre-footer-menu {
        display: none;
    }

    .footer__logo,
    .footer__menu,
    .footer__icons {
        float: left;
        width: calc((100% - 6rem) / 5);
    }

    .footer__menu.hide-on-mobile {
        display: block;
    }

    .footer__menu a.hide-on-mobile {
        display: inline-block;
    }

    .footer__menu a.hide-on-desktop {
        display: none;
    }

    .footer__menu--small {
        text-align: left;
    }

    .footer__menu--small li:first-child a {
        padding: .25rem .25rem .25rem 0;
    }

    .footer__menu--small p {
        display: inline-block;
        float: right;
        margin-left: 2rem;
        margin-top: .625rem;
    }
}
