* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.hide {
    display: block;
    left: -1000rem;
    position: fixed;
    top: -1000rem;
    width: 0px;
}

body {
    background: #fff;
    color: #2F3237;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Brandon Text", sans-serif;
    font-size: 1rem;
    margin: 0;
    min-height: 100vh;
    padding: 0;
    line-height: 1rem;
}

*:focus {
    background-color: rgba(205, 205, 206, 0.25);
    box-shadow: 0px 0px 0px 4px rgba(205, 205, 206, 0.25);
    outline: thin dotted #909295;
    outline-offset: 2px;
}

a {
    transition: color 0.2s ease;
}

.nav--primary *:focus,
.nav--secondary *:focus {
    background-color: transparent;
    box-shadow: none;
    outline-offset: 0px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

/*** NAV ***/
.logo a {
    background: url(img/logos/stitchfix-logo-mark--outline--color.svg);
    display: block;
    height: 2rem;
    opacity: 1;
    width: 2rem;
    transition: opacity .2s cubic-bezier(0.755, 0.05, 0.855, 0.06);
}

.logo a:hover {
    opacity: .75;
}

/*** PRIMARY NAV ***/
.nav--primary {
    background: #2F3237;
    max-height: 3rem;
    padding: 0 1rem;
    position: relative;
    text-align: center;
}

.logo {
    left: 16px;
    position: absolute;
    top: 8px;
}

.nav--primary__menu {
    display: inline-block;
}

.nav--primary__menu li {
    display: inline-block;
    padding: 0 .5rem;
}

.nav--primary__menu li a {
    color: #DEE0E1;
    display: inline-block;
    font-size: .875rem;
    letter-spacing: 0.015em;
    overflow: hidden;
    padding: 1rem 0;
    position: relative;
    text-transform: uppercase;
}

.nav--primary__menu li a:not(.current):hover {
    color: #fff;
}

.nav--primary__menu li a.current {
    color: #00BDB4;
    font-weight: bold;
    letter-spacing: .02em;
}

.nav--primary__menu li a:after {
    background: #CDCDCE;
    border-radius: 4px;
    bottom: -8px;
    content: '';
    display: block;
    left: 50%;
    height: 8px;
    position: absolute;
    width: 8px;
    transform: translateX(-50%);
    transition: bottom 0.2s cubic-bezier(0.755, 0.05, 0.855, 0.06);
}

.nav--primary__menu li a:hover:after {
    bottom: -4px;
}

.nav--primary__menu li a.current:after {
    background: #00BDB4;
    bottom: -4px;
}

/*** ACCOUNT MENU ***/
.account-menu {
    border-radius: 2px;
    height: 2.5rem;
    overflow: hidden;
    position: absolute;
    right: 4px;
    text-align: left;
    top: 4px;
    transition: all .4s ease;
    width: 4.25rem;
    z-index: 999;
}

.account-menu a.account-menu__toggle {
    color: #fff;
    display: block;
    font-weight: 500;
    line-height: 1.5rem;
    padding: .5rem .75rem .75rem;
}

.account-menu a.account-menu__toggle:after {
    content: url(img/icon__ellipse.svg);
    display: block;
    position: absolute;
    right: .75rem;
    top: .625rem;
}

.account-menu .account-menu__toggle__name {
    display: none;
    opacity: 0;
    transition: all .2s ease;
    transition-delay: .5s;
}

.account-menu__toggle__initial {
    background: #00BDB4;
    border-radius: .75rem;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    height: 1.5rem;
    margin-right: .5rem;
    position: relative;
    width: 1.5rem;
    text-align: center;
    transition: box-shadow .2s ease;
}

.account-menu__toggle__initial:after {
    background: #F05D61;
    border-radius: .25rem;
    content: '';
    display: block;
    height: .25rem;
    position: absolute;
    right: -.25rem;
    top: .125rem;
    width: .25rem;
    transition: all .2s ease;
}

a.account-menu__toggle:hover .account-menu__toggle__initial {
    -webkit-box-shadow: 0px 0px 0px 4px rgba(205, 205, 206, 0.25);
    -moz-box-shadow: 0px 0px 0px 4px rgba(205, 205, 206, 0.25);
    box-shadow: 0px 0px 0px 4px rgba(205, 205, 206, 0.25);
}

.account-menu a {
    color: #2F3237;
    transition: background.2s ease;

}

.account-menu ul {
    display: block;
    min-width: 15rem;
    opacity: 0;
    padding: 1rem .25rem;
    transition: all .2s ease;
    transition-delay: .2s;
    transform: translateY(-1rem);
}

.account-menu ul + ul {
    border-top: 1px solid #DEE0E1;
}

.account-menu h2 {
    color: #737679;
    font-size: .875rem;
    letter-spacing: .02em;
    margin-bottom: .5rem;
    padding: 0 .25rem;
    text-transform: uppercase;
}

.account-menu ul a {
    background: transparent;
    display: block;
    padding: .75rem .5rem;
}

.account-menu ul a:hover {
    background: #F2F3F4;
}

.profiles__child,
.profiles__add-child {
    line-height: 1.5rem;
    position: relative;
}

.profiles__child .account-menu__toggle__initial {
    background: #F05D61;
}

.profiles__add-child:before {
    background: url(img/icon__add.svg);
    content: '';
    display: inline-block;
    font-weight: bold;
    height: 1.5rem;
    margin-right: .5rem;
    position: relative;
    top: -.125rem;
    width: 1.5rem;
    vertical-align: middle;
}

.refer-bug {
    background: #f2f3f4;
    border-radius: 1rem;
    padding: .125rem .5rem;
    transition: all .2s ease;
}

.account-menu ul a:hover .refer-bug {
    background: #DEE0E1;
}

/*** Open State ***/
.account-menu.open {
    background: #fff;
    border: 1px solid#F2F3F4;
    box-shadow: 0px 0px 16px rgba(47, 50, 55, 0.05), 0px 2px 8px rgba(47, 50, 55, 0.075);
    height: auto;
    width: 15rem;
}

.account-menu.open *:focus {
    background-color: none;
}

.account-menu.open a.account-menu__toggle {
    color: #606266;
}

.account-menu.open a.account-menu__toggle .account-menu__toggle__initial:after {
    height: 0;
    width: 0;
}

.account-menu.open .account-menu__toggle__name {
    display: inline-block;
    opacity: 1;
    overflow: visible;
    width: 0;
}

.account-menu.open ul {
    opacity: 1;
    transform: translateY(0);
}

/*** SECONDARY NAV ***/
.nav--secondary {
    background: #fff;
    border: 1px solid #F2F3F4;
    box-shadow: 0px 0px 4px rgba(47, 50, 55, 0.1);
    overflow: hidden;
    text-align: center;
}

.nav--secondary__menu li {
    display: inline-block;
    padding: 0 .5rem;
}

.nav--secondary__menu li a {
    color: #606266;
    display: inline-block;
    padding: 1rem 0;
    position: relative;
    transition: all .2s ease;
}

.nav--secondary__menu li a:not(.current):after {
    background: #F2F3F4;
    bottom: -.5rem;
    content: '';
    display: block;
    height: .25rem;
    position: absolute;
    transition: all .2s ease;
    width: 100%;
}

.nav--secondary__menu li a.current {
    border-bottom: 4px solid #00BDB4;
    color: #2F3237;
    font-weight: 500;
}

.nav--secondary__menu a:hover {
    color: #07838B;
}

.nav hr {
    height: 0.25rem;
    margin: 0;
    background: black;
    border: none;
    transition: .3s ease-in-out;
    display: block;
}

.nav--secondary__menu li a:not(.current):hover:after {
    bottom: -.25rem;
}

/*** FOOTER ***/
footer {
    margin-top: 35.rem;
    text-align: center;
    width: 100%;
}

.pre-footer-menu {
    padding: 0 1rem 1rem;
    text-align: center;
}

.pre-footer-menu li {
    display: inline-block;
    margin: 0 .125rem;
}

.pre-footer-menu li a {
    border-bottom: 1px solid transparent;
    color: #077AB8;
    transition: border .2s ease;
}

.pre-footer-menu li a:hover {
    border-bottom: 1px solid #077AB8;
}

.pre-footer-menu li a.refer-link {
    border-bottom: none;
}

.pre-footer-menu li a.refer-link:hover .refer-bug {
    background: #077AB8;
    color: #fff;
}
.footer-toggle {
    background: #fff;
    color: #737679;
    display: inline-block;
    font-size: .875rem;
    font-weight: bold;
    letter-spacing: .02em;
    line-height: 1.5rem;
    padding: 0 .5rem;
    position: relative;
    top: .875rem;
    text-transform: uppercase;
    width: auto;
}
.footer-toggle:after {
    background: url(img/icon__circle-plus.svg);
    background-size: contain;
    background-position: center;
    content: '';
    display: inline-block;
    height: 1.5rem;
    position: relative;
    transform: rotate(0);
    top: -.125rem;
    width: 1.5rem;
    vertical-align: middle;
    transition: transform .15s ease;
}
.footer-toggle.close:after {
    transform: rotate(45deg);
}
.footer__main {
    border-top: 1px solid #DEE0E1;
    padding: 2.25rem 1rem 1rem;
}

.footer__main__wrapper {
    display: none;
    margin: 0 auto;
    opacity: 0;
    max-width: 35rem;
    transition: opacity .5s ease;
    transition-delay: .15s;
}
.footer__main__wrapper.open {
    opacity: 1;
}
.footer__logo {
    display: none;
}

footer h2 {
    font-size: .875rem;
    letter-spacing: .02em;
    text-transform: uppercase;
}

.footer__menu {
    display: block;
    float: left;
    padding: 0 1rem;
    width: calc(50% - 1rem);
    text-align: left;
}

.footer__menu + .footer__menu {
    margin-left: 1rem;
}

.footer__menu li {
    margin-top: .5rem;
}

.footer__menu a {
    border-bottom: 1px solid transparent;
    color: #2F3237;
    display: inline-block;
    line-height: 1.25rem;
    padding: .25rem 0;
    transition: border .2s ease;
}

.footer__menu a:hover {
    border-bottom: 1px solid;
}

.footer__icons {
    border-bottom: 1px solid #DEE0E1;
    border-top: 1px solid #DEE0E1;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem 0 1.5rem;
    padding: 1rem 0;
    text-align: left;
    width: 100%;
}
.footer__menu--social {
    margin-bottom: .5rem;
    min-width: 50%;
}
.footer__menu--social li {
    display: inline-block;
}

.footer__menu--social li a {
    border-radius: 1.5rem;
    display: block;
    height: 3rem;
    position: relative;
    top: .25rem;
    width: 3rem;
    transition: background .2s ease;
}

.footer__menu--social li a img {
    display: block;
    left: 50%;
    max-height: 2rem;
    max-width: 2rem;
    opacity: 1;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.footer__menu--social li a:hover {
    background: #F2F3F4;
}

.footer__menu--social li a:hover img {
    opacity: .85;
}
.app-icon {
    display: inline-block;
    width: 50%;
}
.app-icon img {
    height: auto;
    max-width: 100%;
    opacity: 1;
}
.footer__menu--small {
    color: #737679;
    font-size: .875rem;
    line-height: 1rem;
    padding-bottom: .5rem;
    text-align: center;
}

.footer__menu--small li {
    display: inline-block;
    margin-top: .5rem;
}

.footer__menu--small li + li {
    border-left: 1px solid #CDCDCE;
}

.footer__menu--small a {
    color: #737679;
    padding: .25rem .25rem .25rem .375rem;
}
.footer__menu--small a:hover {
    color: #2F3237;
    text-decoration: underline;
}
.footer__menu--small p {
    margin-top: 1rem;
}
